@model IEnumerable<Category>
@using Infrastructure.Extensions;
@foreach (var item in Model.Where(x=>x.ParentId==null))
{
    <tr class="treegrid-@item.Id">
        <td class="col-md-2 col-sm-3">
            <img src="~/uploads/images/@item.ImageUrl" />
        </td>
        <td>@item.Name</td>
        <td class="operation">
            <a asp-controller="Categories" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning text-white" data-toggle="tooltip" data-placement="top" title="Dəyiş"><i class="fa-solid fa-pen-to-square"></i></a>
            <a asp-controller="Categories" asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary text-white" data-toggle="tooltip" data-placement="top" title="Detallar"><i class="fa-solid fa-info"></i></a>
            <a onclick="removeEntity(@item.Id)" class="btn btn-danger text-white" data-toggle="tooltip" data-placement="top" title="Sil">
                <i class="fa-solid fa-trash"></i>
            </a>
        </td>
    </tr>
    foreach (var child in Model.GetHierArchy(item))
    {
        <tr class="treegrid-@child.Id treegrid-parent-@child.ParentId">
            <td class="col-md-2 col-sm-3">
                <img src="~/uploads/images/@child.ImageUrl" />
            </td>
            <td>@child.Name</td>
            <td class="operation">
                <a asp-controller="Categories" asp-action="Edit" asp-route-id="@child.Id" class="btn btn-warning text-white" data-toggle="tooltip" data-placement="top" title="Dəyiş"><i class="fa-solid fa-pen-to-square"></i></a>
                <a asp-controller="Categories" asp-action="Details" asp-route-id="@child.Id" class="btn btn-primary text-white" data-toggle="tooltip" data-placement="top" title="Detallar"><i class="fa-solid fa-info"></i></a>
                <a onclick="removeEntity(@child.Id)" class="btn btn-danger text-white" data-toggle="tooltip" data-placement="top" title="Sil">
                    <i class="fa-solid fa-trash"></i>
                </a>
            </td>
        </tr>
    }
}